In [20]:
import pandas as pd, requests

In [21]:
url_hw = 'https://datausa.io/api/data?drilldowns=Nation&measures=Population'
url_hw = requests.get(url_hw)
url_hw.status_code

200

In [25]:
dtapi = url_hw.json()
dtapi

{'data': [{'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2018,
   'Year': '2018',
   'Population': 327167439,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2017,
   'Year': '2017',
   'Population': 325719178,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2016,
   'Year': '2016',
   'Population': 323127515,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2015,
   'Year': '2015',
   'Population': 321418821,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2014,
   'Year': '2014',
   'Population': 318857056,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2013,
   'Year': '2013',
   'Population': 316128839,
   'Slug Nation': 'united-states'}],
 'source': [{'measures': ['Population'],
   'annotations': {'source_name': 'Census Bureau',
    'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.',
    'dataset_name': 'ACS 1-year Estimate',
    'dataset_link': 'http://www.census.gov/programs-surveys/acs/',
    'table_id': 'B01003',
    'topic': 'Diversity',
    'subtopic': 'Demographics'},
   'name': 'acs_yg_total_population_1',
   'substitutions': []}]}

In [23]:
a = []

for i in dtapi['data']:
    idn = i['ID Nation']
    ntn = i['Nation']
    idy = i['ID Year']
    yr = i['Year']
    popu = i['Population']
    slg = i['Slug Nation']
    baris = [idn, ntn, idy, yr, popu, slg]
    a.append(baris)

df1 = pd.DataFrame(a, columns=['ID Nation',
                                  'Nation',
                                 'ID Year',
                                 'Year',
                                 'Population',
                                 'Slug Nation'])
df1

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2018  2018   327167439  united-states
1   01000US  United States     2017  2017   325719178  united-states
2   01000US  United States     2016  2016   323127515  united-states
3   01000US  United States     2015  2015   321418821  united-states
4   01000US  United States     2014  2014   318857056  united-states
5   01000US  United States     2013  2013   316128839  united-states